---
import '../styles/custom.css'
import 'animate.css';

export interface Props {
    text_title?:string;
    img?:string;
    text_content?:string;
    add_class?:string;
    img_fill?:string;
}
const{ text_title="placeholder" , text_content="", img="", add_class="", img_fill=""} = Astro.props;
---

<div class={`bg-gradient-to-t from-orange-200 to-orange-50 flex flex-col flex-wrap items-center border-black w-[15rem] h-[20rem] montserrat mb-8 animate__animated animate__fadeInUp ${add_class} self-center mx-2`}>
    <div class="h-[9rem] w-full">
        <img class={`${img_fill}  h-[9rem]`} src={img} alt="">
    </div>
    
    <div class= "text-center mt-4">
        <p class="text-2xl"><b>{text_title}</b></p>
        <p class="text-md mt-4 px-2">{text_content}</p>
    </div>
  </div>